<p id="notice"><%= notice %></p>
<div style="background-color:white; color:black; padding:20px; filter: alpha(opacity=80); opacity: 0.8;">
<h1>Listing Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <% if user_signed_in? %>
          <% if user == current_user %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
