<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @toilet.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @toilet.price %>
</p>

<p>
  <strong>Cover:</strong>
  <%= image_tag(@toilet.cover, width: 300) %>
</p>

<p>
  <strong>Cleanliness:</strong>
  <%= @toilet.cleanliness %>
</p>

<%= link_to 'Edit', edit_toilet_path(@toilet) %> |
<%= link_to 'Back', toilets_path %>
