<p id="notice"><%= notice %></p>
<div style="background-color:white; color:black; padding:20px; filter: alpha(opacity=80); opacity: 0.8;">
  <div class="deo">
  <p>
    <strong>Name:</strong>
    <%= @toilet.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @toilet.price %>
  </p>

  <p>
    <strong>Cleanliness:</strong>
    <%= @toilet.cleanliness %>
  </p>
</div>
<p> <%= image_tag(@toilet.cover, width: 300) %>
</p>

</div>
