<%= form_for(@new_toilet) do |f| %>
  <% if @new_toilet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@new_toilet.errors.count, "error") %> prohibited this new_toilet from being saved:</h2>

      <ul>
      <% @new_toilet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :cleanliness %><br>
    <%= f.text_field :cleanliness %>
  </div>
  <div class="field">
    <%= f.label :string %><br>
    <%= f.text_field :string %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
